# Ignore environment variables file
.env

# Ignore node_modules directory
node_modules/

# Ignore build files (if applicable)
/build/
/dist/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
